.footer {
  width: 100%;
  background-color: #435761 !important;
  padding: 15px 0;
  color: #ffffff;
}

.footer2 {
  width: 100%;
  background-color: #303e45 !important;
  padding: 15px 0;
  color: #ffffff;
}
