.header {
  background-color: #4d636f;
  border: none;
  margin-bottom: 0;
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  background-color: #3a4b53;
}

.navbar-header .icon-bar {
  background-color: #ffffff;
}

.navbar-header .navbar-brand {
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
}

.navbar-header .navbar-brand i {
  padding-right: 10px;
}

.navbar-nav-item {
  position: relative;
  margin: auto;
}

.navbar-nav .navbar-nav-item a:hover,
.navbar-nav .navbar-nav-item a:focus {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.navbar-nav .navbar-nav-item a,
.navbar-nav .dropdown a {
  color: #ffffff !important;
  padding: 15px;
  font-size: 18px;
  display: block;
}

.navbar-header .navbar-brand:hover,
.dropdown .dropdown-toggle:hover,
.dropdown .dropdown-toggle a:focus {
  background-color: #ccc !important;
  color: #000000 !important;
  border: none;
}

.dropdown-toggle-notification {
  position: absolute;
  background-color: #4CAF50 !important;
  color: #ffffff !important;
  border-radius: 50%;
  font-size: 12px;
  top: 5px;
  left: 30px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.dropdown:hover
.dropdown-toggle-notification {
  color: #ffffff !important;
}

.navbar-nav .dropdown-menu li a {
  color: #000000 !important;
}

.navbar-nav .dropdown-menu li a:hover {
  background-color: #ccc !important;
} 

.navbar-nav-userpic a:hover,
.navbar-nav-userpic a:focus {
  background-color: #ffffff !important;
}

.navbar-nav-userpic a {
  height: 50px;
}

.navbar-nav-userpic img {
  height: 25px;
  width: 25px;
  border-radius: 50%;

}

.navbar-nav-item-text {
  display: inline-block;

}

@media (min-width: 992px) {
  .navbar-nav-item-text {
    display: none;
  }

  .navbar-nav .dropdown a {
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .navbar-nav-userpic img {
    display: inline-block;
  }

  .navbar-header .navbar-brand {
    padding-left: 15px;
  }

  .dropdown-toggle-notification {
    left: auto;
    margin-left: 5px;
  }

  .navbar-nav-item-text {
    display: inline-block;
    font-size: 18px;
  }

  .navbar-nav-item-userpic {
    color: #ffffff;
  }

  .navbar-nav .navbar-nav-item-userpic:hover,
  .navbar-nav .navbar-nav-item-userpic:focus {
    color: #000000 !important;
  }

  .dropdown-toggle .fa-bell {
    display: inline;
  }

  .dropdown-toggle-notification {
    margin-left: -5px;
  }

  .navbar-nav-item-icon {
    display: inline-block;
    width: 35px;
  }

  .navbar-collapse {
    border: none;
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
