<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Footer HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="../_assets/css/reset.css">
  <script src="../_assets/plugins/jquery/js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="../_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/footer.css">
</head>
<body>
  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h4>Footer</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="footer2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h5>
            Powered by
            <a href="https://www.github.com/dizefurkan" target="_blank">dizefurkan</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
